include CHANGELOG.rst
include LICENSE.txt
include README.rst
include requirements/base.in
include requirements/constraints.txt
recursive-include get_smarter_api_clients *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg *.py
